@import '~@sb1/ffe-core/less/ffe';
@import (inline) '~@sb1/ffe-webfonts/fonts.css';
@import 'header';


body {
  font-family: 'MuseoSans-300', arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: @ffe-white;
}

img {
  max-width: 100%;
}

.smud-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &--1 {
    background: @ffe-blue-cobalt;
    color: @ffe-white;
  }

  &--2 {
    background: #d3d3e8;
  }

  &__container {
    max-width: 1000px;
    padding: @ffe-spacing-sm;
  }
}

.smud-h1 {
  font-size: 4rem;
}

.smud-h2 {
  .ffe-fontsize-h2;
}

.smud-h3 {
  .ffe-fontsize-h3;
}